.cards {
  display: flex;
  flex-direction: row;
}

@media print {
  .cards {
    justify-content: center;
  }
}

@media screen {
  .cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
